* {
    box-sizing: border-box;
}
.overlay {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 2s ease;
}
.img-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.img {
    max-width: 65%;
    max-height: 65%;
    align-self: center;
}

.thumbnail {
    width: 3%;
    height: 3%;
    margin: 3px;
    cursor: pointer;
}
.thumbnailContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
}
.selected {
    border: 2px solid #FFF;
}
.openContainer {
    border: 2px solid rgb(197, 189, 189);
    border-radius: 10px;
    font-size: 1.5em;
    background: lightblue;
    padding: 0px 10px;
    display: inline-block;
    align-self: center;
}
.close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 32px;
    height: 32px;
    opacity: .3;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
}
.prev.disabled, .next.disabled {
    color: #ccc
}
.prev, .next {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: auto 5px;
    color: lightgreen;
    font-size: 50px;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #FFF;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}